[name=todoItem]{
    border:none;
    font-family: Arial, sans-serif;
    font-size: 100%;
    padding:0.15em;
}

.checked{
  background-color:#f0f0f0;
  color:#666;
}

.checked [name=todoItem]{
  text-decoration: line-through;
}

.checked [name=todoItem],
.checked [name=todoItem]:hover,
.checked [name=todoItem]:focus{
  background-color:#f0f0f0;
}

li {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 100%;
	justify-content: space-between;
}